<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <script src="/static/js/libs/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/libs/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.js"></script>
    <script src="/static/js/chat.js"></script>

</head>
<body>
    HOLA SOY UN HTML SIMPLE
    <button type="button" class="btn btn-primary" onclick= "sendMessage()">Send</button>
    AEA
    COLUMNA 1
    <button type="button" class="btn btn-primary" onclick= "get_all_users()">Get Users</button>
    <div id="users"> </div>

</body>
</html>
