<!DOCTYPE html>
<html lang="en">
<html>
  <head>
      <link rel="stylesheet" href="/static/css/styles.css">
      <meta charset="UTF-8">
    <title>cs-Plataformas</title>
  </head>
  <body>
  <div class="inner-screen">
    <div class="form">
      <form method= "post" action="/authenticate">
      <input name="username" type="text" placeholder="Enter your email"/>
      <input name="password" type="password" placeholder="Password"/>
      <input type="submit" value="Login" />
      <a href="">Perdiste tu clave?</a>
      </form>
    </div>
  </div>
  </body>
</html>

